.App {
  text-align: center;
}

body {
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
  /* background-size: cover; */
  background-repeat: repeat;
  background-position: center;
  animation: changeBackground 25s infinite; /* 5 seconds for each image */
}

@keyframes changeBackground {
  0% {
    background-image: url("/public/img/1.jpeg");
  }
  20% {
    background-image: url("/public/img/2.jpeg");
  }
  40% {
    background-image: url("/public/img/3.jpeg");
  }
  60% {
    background-image: url("/public/img/4.jpeg");
  }
  80% {
    background-image: url("/public/img/5.jpeg");
  }
  100% {
    background-image: url("/public/img/1.jpeg");
  } /* Loop back to the first */
}

.age-calculator-container {
  margin: 20px;
  padding: 30px;
  display: flex;
  border-radius: 10px;
  background-color: #f0f0f0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.age-input {
  font-size: 24px;
  padding: 10px;
  width: 200px;
  border: 2px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.age-input:focus {
  outline: none;
  border-color: #007bff;
}

.age-result {
  font-size: 20px;
  color: #333;
}

.age-input::placeholder {
  font-size: 12px; /* Atur ukuran font yang lebih kecil */
  color: #888; /* Kamu juga bisa mengubah warnanya jika diinginkan */
  text-align: center;
}

.age-calculator-container p {
  color: #282c34;
  font-weight: 500;
}

p {
  font-size: 10px;
}

.example {
  padding-bottom: 20px;
}
